.room {
    display: flex;
    background-color: #3a415a; /* Dark background */
    border-radius: 20px;
    width: 200px;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.473);
}

@media screen and (max-width: 768px) {
    .room {
        width: 200px;    
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    .room {
        width: 150px;    
        height: 250px;
    }
}